<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sap</title>
</head>
<body>
    <h1>Hola este es el index</h1>
    <body> {{msg}}</body>
    <p>sea bienvenido</p>
    <p>{{msg2}}</p>
    <div><p><a href="nueva_persona">Agregar persona</a></p></div>

    <div>
    
    <table>
        <thead>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th></th>
            <th></th>
            <th></th>
            

        </thead>
        <tbody> 
            {% for i in personas %} 
            <tr>
                <td>
                    {{i.id}}
                </td>
                <td>
                    {{i.nombre}}
                </td>
                <td>
                    {{i.apellido}}
                </td>
                <td>
                    <a href="detalle_persona/{{i.id}}">Ver Detalles</a>
                </td>
                <td>
                    <a href="editar_persona/{{i.id}}">Editar</a>
                </td>
                <td>
                    <a href="eliminar_persona/{{i.id}}">Eliminar</a>
                </td>
            </tr>


            {% endfor %}

        </tbody>
    </table>
    
    </div>

</body>
</html>